@mixin omega-reset($nth, $context: null) {
  @if $context == null {
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  } @else {
    &:nth-child(#{$nth}) { margin-right: flex-gutter($context); }
  }
  &:nth-child(#{$nth}+1) { clear: none; }
}

@mixin shame-on-me {

  .bluff {
    padding: 2rem;
  }

  .page,
  .page-pusher {
    height: 100%;
  }

  .page {
    position: relative;
    transition: transform 1s ease-in;

    // overflow: hidden;
  }

  .page-pusher {
    transition: transform .5s ease-in;
  }

  body.menu-open {
    .page {
      // perspective: 600px;
    }

    .page-pusher {
      // transform: rotateX(30deg);
    }
  }

  .text-light {
    display: inline;
    font-weight: 100;
  }

  .slide {
    position: relative;
    // padding: 50px 0;

    &__full {
      height: 100vh;
    }

    &__overlay {
      &:before {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;

      }
    }

    &__title {
      padding: 0;
    }

    h2 {
      font-weight: 3rem;
    }
  }

  .tile, .hero {
    width: 100%;
    text-align: center;
    color: white;
    position: relative;

    &--title {
      position: absolute;
      top: 48%;
      width: 100%;
      font-size: 1rem;
    }
  }

  .hero {
    &--title {
      top: 40%;
      font-size: 4rem;
    }
  }

  .lorem-img {
    background-color: rgba($dark-gray, 0.5);
    // background-image: url('https://placeholdit.imgix.net/~text?txtsize=50&txt=Image&w=600&h=600');
    background-image: url('http://loremflickr.com/500/500/worker,street/all');
    background-size: cover;
    background-position: center;
    width: 100%;
    // min-height: 200px;
    background-blend-mode: multiply;

    @for $i from 1 through 4 {
      &--#{$i} {
        background-image: url('http://loremflickr.com/500/500/worker,street/all?random=#{$i}');
      }
    }

    // &--1 {
    //   background-image: url('http://loremflickr.com/500/500/worker,street/all?random=1');
    // }

    // &--2 {
    //   background-image: url('http://loremflickr.com/500/500/worker,street/all?random=2');
    // }

    // &--3 {
    //   background-image: url('http://loremflickr.com/500/500/worker,street/all?random=3');
    // }

    // &--4 {
    //   background-image: url('http://loremflickr.com/500/500/worker,street/all?random=4');
    // }
  }

  .highlight {
    background-color: crimson;
  }

  .divider {
    border-right: 1px solid $red;
  }

  .brand {
    position: absolute;
    background-image: url('/images/logo_light.svg');
    top: 0;
    left: 1rem;
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    z-index: 800;

    span {
      display: none;
    }

    @include media($medium-up) {
      height: 150px;
    }

  }

  .welcome {
    background-color: rgba($dark-gray, 0.5);
    background-image: url('/images/Nadler-07.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    color: white;

    .title {
      font-size: 2.5rem;
      margin-top: 38vh;
      transition: .3s ease-out;

      @include media($medium-up) {
        font-size: 4rem;
      }

      @include media($large-up) {
        font-size: 7rem;
      }
    }
  }

  .slide-footer {
    $arrow-height: 25px;
    $arrow-width: 280px;
    $arrow-half-width: $arrow-width / 2;
    $arrow-color: rgba(black, 0.3);

    position: absolute;
    bottom: 0;
    width: 100%;
    height: $arrow-height;

    &:before, &:after {
      content: " ";
      display: block;
      width: calc(50% - #{$arrow-half-width});
      height: $arrow-height;
      background-color: $arrow-color;
    }

    &:before {
      float: left;
    }

    &:after {
      float: right;
    }

    .dreieck {
      width: 0;
      height: 0;
      border-left: $arrow-half-width solid $arrow-color;
      border-right: $arrow-half-width solid $arrow-color;
      border-top: $arrow-height solid transparent;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }
  }
}
