@mixin omega-reset($nth, $context: null) {
  @if $context == null {
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  } @else {
    &:nth-child(#{$nth}) { margin-right: flex-gutter($context); }
  }
  &:nth-child(#{$nth}+1) { clear: none; }
}

@mixin shame-on-me {

  .header {
    height: 300px;

    &__float {
      height: initial;
      @include typography-color(white);
    }

    .page-title {
      text-align: center;
      top: 10rem;
      position: relative;
      font-size: 5rem;
    }
  }

  .brand {
    position: absolute;
    background-image: url('/images/logo_dark.svg');
    top: 0;
    left: 1rem;
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    z-index: 800;

    span {
      display: none;
    }

    @include media($medium-up) {
      height: 150px;
    }
  }

  .header__float {
    .brand {
      background-image: url('/images/logo_light.svg');
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    // background-color: red;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    background-color: rgba(black, 0.2);
    cursor: pointer;
    z-index: 900;

    @include media($large-up) {
      background-color: initial;
    }
  }

  body.modal__open {
    overflow: hidden;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;

  }

  .properties {
    text-align: right;
  }

  .prop-icon {
    // background-color: black;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;

    &__sun {
      background-image: url('/images/icon_sonne.svg');
    }

    &__rain {
      background-image: url('/images/icon_regen.svg');
    }

    &__snow {
      background-image: url('/images/icon_schnee.svg');
    }

    &__pdf {
      background-image: url('/images/icon_pdf.svg');
    }
  }

  .gallery {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;

    @include media($medium-up) {
      height: 500px;
    }

    @include media($large-up) {
      height: 600px;
    }

    .picture, .thumb-list, .thumb {
      float: left;
      padding: 0;
      margin: 0;
    }

    .picture {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include media($medium-up) {
        width: 80%;
      }

      @include media($large-up) {
        width: 80%;
      }
    }

    .thumb-list {
      width: 100%;
      height: 33.333333%;

      @include media($medium-up) {
        width: 20%;
        height: 100%;
      }

      @include media($large-up) {
        width: 20%;
      }
    }

    .thumb {
      position: relative;
      width: 33.333333%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // background-color: rgba($dark-gray, 0.9);
      // background-blend-mode: multiply;
      cursor: pointer;

      @include media($medium-up) {
        width: 100%;
        height: 33.333333%;
      }

      &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($dark-gray, 0.7);
        transition: opacity .2s ease-in;
        cursor: pointer;
      }

      &.active, &:hover {
        cursor: initial;

        &:after {
          opacity: 0;
        }
      }

      &:hover:not(.active) {
        &:after {
          opacity: 0.7;
        }
      }
    }

  }

  .bluff {
    padding: $computed-line-height;

    @include media($large-up) {
      padding: $computed-line-height * 2;
    }
  }

  .page,
  .page-pusher {
    height: 100%;
  }

  .page {
    position: relative;
    transition: transform 1s ease-in;

    // overflow: hidden;
  }

  .page-pusher {
    transition: transform .5s ease-in;
  }

  body.menu-open {
    .page {
      // perspective: 600px;
    }

    .page-pusher {
      // transform: rotateX(30deg);
    }
  }

  .text-light {
    display: inline;
    font-weight: 100;
  }

  .slide {
    position: relative;
    // padding: 50px 0;

    &__full {
      height: 100vh;
    }

    &__overlay {
      &:before {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;

      }
    }

    &__title {
      padding: 0;
    }

    h2 {
      font-weight: 3rem;
    }
  }

  .tile, .hero {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    position: relative;

    &--title {
      position: absolute;
      top: 48%;
      width: 100%;
      font-size: 1rem;
    }
  }

  .hero {
    &--title {
      top: 40%;
      font-size: 2.5rem;

      @include media($medium-up) {
        font-size: 4rem;
      }

      @include media($large-up) {
        font-size: 7rem;
      }
    }
  }

  .lorem-img {
    background-color: rgba($dark-gray, 0.5);
    // background-image: url('https://placeholdit.imgix.net/~text?txtsize=50&txt=Image&w=600&h=600');
    background-image: url('http://loremflickr.com/500/500/worker,street/all');
    background-size: cover;
    background-position: center;
    width: 100%;
    // min-height: 200px;
    background-blend-mode: multiply;

    @for $i from 1 through 4 {
      &--#{$i} {
        background-image: url('http://loremflickr.com/500/500/worker,street/all?random=#{$i}');
      }
    }

    // &--1 {
    //   background-image: url('http://loremflickr.com/500/500/worker,street/all?random=1');
    // }

    // &--2 {
    //   background-image: url('http://loremflickr.com/500/500/worker,street/all?random=2');
    // }

    // &--3 {
    //   background-image: url('http://loremflickr.com/500/500/worker,street/all?random=3');
    // }

    // &--4 {
    //   background-image: url('http://loremflickr.com/500/500/worker,street/all?random=4');
    // }
  }

  .highlight {
    background-color: crimson;
  }

  .divider {
    border-right: 1px solid $red;
  }

  .welcome {
    background-color: rgba($dark-gray, 0.5);
    background-image: url('/images/Nadler-07.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    color: white;

    .title {
      font-size: 2.5rem;
      margin-top: 38vh;
      transition: .3s ease-out;

      @include media($medium-up) {
        font-size: 4rem;
      }

      @include media($large-up) {
        font-size: 7rem;
      }
    }
  }

  .slide-footer {
    $arrow-height: 25px;
    $arrow-width: 280px;
    $arrow-half-width: $arrow-width / 2;
    $arrow-color: rgba(black, 0.3);

    position: absolute;
    bottom: 0;
    width: 100%;
    height: $arrow-height;

    &:before, &:after {
      content: " ";
      display: block;
      width: calc(50% - #{$arrow-half-width});
      height: $arrow-height;
      background-color: $arrow-color;
    }

    &:before {
      float: left;
    }

    &:after {
      float: right;
    }

    .dreieck {
      width: 0;
      height: 0;
      border-left: $arrow-half-width solid $arrow-color;
      border-right: $arrow-half-width solid $arrow-color;
      border-top: $arrow-height solid transparent;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }
  }

  .footer {
    @extend .theme--water;
    // padding: ($computed-line-height * 2) 0;
    padding: $gutter;
    background-color: $dark-gray;
    width: 100%;
  }
}
