<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<title><%= page_title(self.respond_to?(:title) ? title : nil) %></title>

<meta name="theme-color" content="#575757">
<meta name="msapplication-navbutton-color" content="#575757">
<meta name="apple-mobile-web-app-status-bar-style" content="#575757">

<meta name="apple-mobile-web-app-capable" content="yes">

<link href='//fonts.googleapis.com/css?family=Exo+2:500,400,300,200,100' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<%= stylesheet_link_tag :site %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
