---
title: Produkte
header: none
---

<div class="slide">
  <div class="hero">
    Krass
    <h1 class="hero--title">Test</h1>
  </div>
</div>

<div class="slide">
  <div class="row__fluid row__gutterless">
    <% category.categories.each_with_index do |c, i| %>
    <% image = "http://loremflickr.com/500/500/worker,street/all?random=#{i}" %>
    <div class="small-6 medium-6 large-4">
      <a href="/categories/<%= category.slug %>/<%= c.slug %>" class="tile lorem-img" style="background-image: url(<%= image %>)">
        <h2 class="tile--title"><span class="text-light"><%= c.name %></span></h2>
      </a>
    </div>
    <% end %>
  </div>
</div>
