---
title: Welcome to Nadler
---

<div class="brand"><span>Nadler Straßentechnik GmbH</span></div>

<a class="toggle-menu" href="#">Menü</a>

<nav class="nav">
  <ul>
    <li><a class="" href="#">Data Management</a></li>
    <li><a class="" href="#">Location</a></li>
    <li><a class="" href="#">Study</a></li>
    <li><a class="" href="#">Collections</a></li>
  </ul>
</nav>

<div class="page">
  <div class="page-pusher">
    <div class="welcome slide slide__full slide__overlay slide__title">
      <div class="row">

        <div class="small-12">
          <h1 class="title"><span class="text-light">Asphalt</span> Furore</h1>
        </div>
      </div>



      <div class="subnav">
        <div class="row">
          <div class="small-12">
            <h2>Wie können wir behilflich sein?</h2>
          </div>
          <div class="small-4">
            <div class="subnav-item">
              <%= image_tag 'product_finder.svg', class: 'subnav-item--icon' %>
              <div class="subnav-item--label">
                <span class="text-light">Produkt</span> Finder
              </div>
            </div>
          </div>
          <div class="small-4">
            <div class="subnav-item">
              <%= image_tag 'live_chat.svg', class: 'subnav-item--icon' %>
              <div class="subnav-item--label">
                <span class="text-light">Live</span> Berater
              </div>
            </div>
          </div>
          <div class="small-4">
            <div class="subnav-item" href="http://hiasinho.com">
              <%= image_tag 'problem_detector.svg', class: 'subnav-item--icon' %>
              <div class="subnav-item--label">
                <span class="text-light">Problem</span> Detector
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-footer">
        <div class="dreieck"></div>
      </div>
    </div>

    <div class="slide slide__full">
      <div class="row">
        <div class="small-12">
          <h2>Test Mich Alter</h2>
        </div>
      </div>
    </div>
  </div>
</div>
